:root{
  --color-dark: #1F2937;
  --color-light: #f1f1f1;
  --bg-dark: #22272E;
  --bg-light: #FFFFFE;
  --bg-cdark: #2D333B;
  --bg-code-dark: #949fad;
  --bg-clight: #F0F0F0;
  --bg-cclight: #dcd7d7;
  --bg-ccdark: #252525;
}